@import "../../styling/typpgraphy";

.outer_container {
  
}
.title_container {

  h1 {
    font-family: $base-font-family;
    font-size: 1.8rem;
    font-weight: normal;
    margin: 0.5rem 0;
  }
  
  h2 {
    font-family: $base-font-family;
    font-size: 1.4rem;
    font-weight: normal;
    margin: 0.5rem 0;
  }
}