$main-colour: rgb(216, 216, 216);
$main-text-colour: rgb(26, 26, 26);

$highlight-colour: rgb(219, 144, 3);
$hightlight-text-colour: white;

$heading-colour: rgb(54, 54, 54);
$heading-text-colour: white;