@import "../../../styling/spacings";
@import "../../../styling/colours";

.outer_container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "content" "footer";
  min-height: 100vh;
}

.base_padded_container {
  padding: $general-padding;
}
.header_container {
  @extend .base_padded_container;
  grid-area: header;
  background-color: $heading-colour;
  color: $heading-text-colour; 
}
.content_container {
  grid-area: content;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "menu page";
}
.main_menu_container {
  grid-area: menu;
  background-color: $menu-container-colour;
}
.page_container {
  grid-area: page;
}

.footer_container {
  @extend .base_padded_container;
  grid-area: footer;
  background-color: $heading-colour;
  color: $heading-text-colour; 
}
