@import "../../../styling/colours";
@import "../../../styling/spacings";

.link {
  background-color: $menu-link-colour;
  color: $menu-link-text-colour;
  display: block;
  padding: $general-padding;
  text-decoration: none;
}
a.link:hover {
  background-color: $menu-link-hover-colour;
  //color: $menu-link-hover-text-colour;
}
.active_link {
  background-color: $menu-link-active-colour;
}
